body{
    font-family: 'fonts/Merriweather/Merriweather-Regular.ttf','Open Sans';
    color: black;
    font-size: 14px;
}


h1 {font-size: 3.21em; line-height: 1.36em}
h2 {font-size: 22px;}
h3 {font-size:2em;}
h4 {font-size: 1.78em;}
h5 {font-size: 1.47em;}
h6 {font-size: 1.05em;}


.primary-color{
    color: black;
}

a.primary-color:hover {
    color: #2f9aef;
}

.secondary-color{
    color: #2f9aef;
}
.terciary-color{
    color: #ffffff;
}

.light-font{
    font-weight: 300;
}

.regular-font{
    font-weight: 600;
}

.semi-bold-font{
    font-weight: 600;
}

.bold-font{
    font-weight: 700;
}

.extra-bold-font{
    font-weight: 800;
}

.font-size-l{
    font-size: 1.42em;
}

.font-size-s{
    font-size: 0.84em;
}

.font-size-xs {
    font-size: 0.68em;
}

.mt-50 {
    margin-top:50px;
}

.mt-100 {
    margin-top:100px;
}
.mt-200 {
    margin-top:200px;
}

.mt-80 {
    margin-top:80px;
}

.ml-70{
    margin-left: 70px;
}
.p-40{
    padding: 40px;
}


/* HEADER*/


.header-shadow{
    box-shadow: 0px 5px 12px -2px rgba(202,202,202,1);
    background-color: #fff;
}

header.navbar .nav-link{
    color: #1e205a;
    font-weight: 600;
    font-size: 1.05em;
}

